body {
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
}

.grid {
    position: absolute;
    z-index: 1;
    left:0px;
    top:0px;
}

.panel{
    position: absolute;
    left: 1000px;
    top: 10px;
    z-index: 9;
    max-width: 300px;
    background-color: gray;
    text-align: center;
    border: 1px solid gray;
    border-radius: 25px;
}
#gridpanelheader,#controlpanelheader,#controlpanel2header{
    padding: 10px;
  cursor: move;
  z-index: 10; 
  color: #fff;
}

#gridpanelcontent{
    padding: 30px ;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: black;
    text-align: left;
    border: 1px solid gray;
    color: white;
    border-radius:25px ;
}

#controlpanel
{
    
    left:700px;
    top:10px;    
}
#controlpanel2
{
    left:700px;
    top:83%;
    max-width:1000px;
    background-color: black;
}
#distresult{
    background-color: white;
    color: green;
    border: transparent;
    top: 90%;
    left:30px;
}

